@tailwind preflight;
@tailwind components;
@tailwind utilities;

@import 'base/base';
@import 'base/icons';
@import 'base/text';
@import 'base/forms';
@import 'components/buttons';
@import 'components/sidebar';
@import 'components/modal';
@import 'components/inputs';
