@media screen and (max-width: config('screens.md')) {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select:focus,
  textarea {
    font-size: 1rem;
  }
}

.checkbox-wrap {
  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
  }

  input[type="radio"] + label,
  input[type="checkbox"] + label {
    display: inline-flex;

    @screen sm {
      align-items: center;
    }
  }

  input[type="radio"] + label::before,
  input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: solid 1px;
    @apply border-grey;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: transform 0.2s;
  }

  input[type="radio"] + label::before {
    // radio button radius
    border-radius: 50%;
  }

  input[type="checkbox"] + label::before {
    border-radius: 0;
  }

  input[type="radio"]:checked + label::before,
  input[type="checkbox"]:checked + label::before {
    @apply bg-primary border-primary;
  }

  input[type="radio"]:active + label::before,
  input[type="checkbox"]:active + label::before {
    transform: scale(0.8);
  }

  input[type="radio"]:checked:active + label::before,
  input[type="checkbox"]:checked:active + label::before {
    transform: none;
    transition: none;
  }

  input[type="radio"]:checked + label::before {
    // radio button icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' fill='%23ffffff'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ffffff'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
    background-size: 8px;
  }

  input[type="checkbox"]:checked + label::before {
    // checkbox button icon
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cg class='nc-icon-wrapper' stroke-width='2' fill='%23ffffff' stroke='%23ffffff'%3E%3Cpolyline fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' points='1,9 5,13 15,3 ' data-cap='butt'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
    background-size: 12px;
  }

  input[type="radio"]:checked:active + label::before,
  input[type="checkbox"]:checked:active + label::before,
  input[type="radio"]:focus + label::before,
  input[type="checkbox"]:focus + label::before {
    @apply border-primary;
  }

  input[type="checkbox"] + label:hover {
    &:before {
      @apply border-grey-dark;
    }
  }

  input[type="radio"]:checked + label::before,
  input[type="checkbox"]:checked + label::before {
    @apply bg-primary border-primary;
  }
}
