@import "~theme/css/animations/transitions";

.right-sidebar {
  background: #fff;
  top: 70px;
  right: 0;
  z-index: 3;
  height: 100%;
  width: 480px;
  min-width: 320px;
  transform: translateX(100%);
  transition: transform 300ms $motion-main;
  overflow-y: auto;
  overflow-x: hidden;

  &.active {
    transform: translateX(0)
  }

  @screen lg {
    top: 0px;
  }

  .products {
    @media (max-width: 767px) {
      padding: 30px 15px;
    }

    .product-title {
      color: #222;
    }
  }

  @media (max-width: 767px) {
    .actions {
      padding: 0 15px;

      .link {
        display: flex;
        justify-content: center;
        padding: 8px 50px;

        &.checkout {
          margin-top: 55px;
          padding: 0;
        }
      }

      .btn-primary {
        margin-top: 20px;
      }
    }
  }

  .summary {
    @media (max-width: 767px) {
      padding:  0 15px;
      font-size: 12px;
    }
  }

  .summary-heading {
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  .total-price-label {
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  .total-price-value {
    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  .delete-button {
    vertical-align: middle;
  }

  .image {
    mix-blend-mode: multiply;
    vertical-align: top;
    width: 80px;
    @media (max-width: 767px) {
      width: 60px;
    }
  }
}
